# Environment
.venv*
.vscode/

# Tools
airflow/
prefect/
dagster/

# Logs
logs/
dbt/logs/
sqlmesh/logs/

# Data
data/database/
data/genere/
data/result/


# Python
**/__pycache__/

# SQLMesh
sqlmesh/.cache/
